html {
    --set-red-color: #e86565;
    --set-green-color: #28aa28;
    --set-purple-color: #671fc3;
    --shape-border-width: 6px;

    *, ::before, ::after {
        box-sizing: border-box;
    }
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.shape {
    display: block;
    flex: 0 0 auto;
    max-width: 60%;
    min-width: 2.5rem;
    aspect-ratio: 1.9;
}
.color {
    &.color--red {
        --shape-color: var(--set-red-color);
    }
    &.color--green {
        --shape-color: var(--set-green-color);
    }
    &.color--purple {
        --shape-color: var(--set-purple-color);
    }
}

.shade {
    &.shade--solid {
     --shape-background: var(--shape-color);
    }
    &.shade--open {
        --shape-background: transparent;
    }
}